Source: libsdl2-ttf
Section: libs
Priority: optional
Maintainer: Debian SDL packages maintainers <pkg-sdl-maintainers@lists.alioth.debian.org>
Uploaders: Manuel A. Fernandez Montecelo <mafm@debian.org>, Simon McVittie <smcv@debian.org>
Standards-Version: 4.7.0
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13),
               libfreetype-dev,
               libharfbuzz-dev,
               libsdl2-dev,
               pkgconf,
Homepage: https://www.libsdl.org/projects/SDL_ttf/
Vcs-Browser: https://salsa.debian.org/sdl-team/libsdl2-ttf
Vcs-Git: https://salsa.debian.org/sdl-team/libsdl2-ttf.git


Package: libsdl2-ttf-2.0-0
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: TrueType Font library for Simple DirectMedia Layer 2, libraries
 Wrapper around FreeType 2.0 library, making possible to use TrueType fonts to
 render text in SDL applications.
 .
 This package contains the shared library.

Package: libsdl2-ttf-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libc6-dev,
         libfreetype-dev,
         libharfbuzz-dev,
         libsdl2-ttf-2.0-0 (= ${binary:Version}),
         libsdl2-dev
Description: TrueType Font library for Simple DirectMedia Layer 2, development files
 Wrapper around FreeType 2.0 library, making possible to use TrueType fonts to
 render text in SDL applications.
 .
 This package contains the development files.
